<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <div>
        <div>Nome do Produto</div>
        <div>Valor: <span>200,99</span></div>
        <div>Data da Entrega: <span>31/10/2022</span></div>
        
        <div>Produto</div>
        <div>URL do Produto</div>
        <div>Descrição</div>
        <div>
            <textarea>Descrição do Pedido</textarea>
        </div>
        
        <div>
            <img src="" alt="">
        </div>
    </div>

</body>
</html>